<p>farm-products works!</p>
<table style="width:100%">
    <tr>
        <th>Firstname</th>
        <th>Lastname </th>
        <th>PRoductIId </th>

    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
        <a>
            <td>add</td>
        </a>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
        <a>
            <td>Update</td>
        </a>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
        <a>
            <td>Delete</td>
        </a>
    </tr>

</table>