<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input type="text" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="full-width" >
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
  </form>
</div>