/* .mat-table {
    overflow: auto;
    height: 75vh;
    width: 80vw;
    margin:5vh auto 9vh auto!important;
} */
table {
    width: 100%;
  }
.table-list{
    margin-top: 80px;
    margin-left: 90px;
    margin-right: 90px;
}
h1{
    text-align:center;
    margin-top: 70px;
    color: rgb(103, 58, 182);
  }